

html, body, div, span, h1, h2, h3, h4, h5, h6, p,
a, footer, header,
menu, nav,section{
    font-family: 'Montserrat', sans-serif;
    }


body{
    background-color: #F5F5F5;
}
#navMenu{
    background-color: #364F6B;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-left: 5rem;
}

#addProdMenu{
    background-color: #364F6B;
    padding: 1rem 0 0 0;


}
.card-custom {
    max-width: 15rem;
}
.container {
    max-width: 80%;
}

.checkbox-custom {
    width: 15px;
    height: 15px;
}

